// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 3px solid #D3E7D3;
}

.masthead-title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;
  font-size: 1.4rem;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}

.masthead img {
  display: inline-block;
  // vertical-align: bottom;
  margin: 0;
}

.header-right {
  float: right;
  vertical-align: bottom;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  margin-top: 0.5rem;

  a {
    color: $gray-4;
  }
}
